<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <div>
        Поиск фильма по названию
        <a href="/movie/blue">- /movie/blue</a>
    </div>
    <div>
        Поиск фильма по жанру
        <a href="/genre/dramas">- /genre/dramas</a>
    </div>
    <div>
        Поиск фильма по рейтингу (children, family, adult)
        <a href="/rating/family">- /rating/family</a>
    </div>
    <div>
        Поиск фильма по годам выпуска
        <a href="/movie/2019/to/2020">- /movie/2019/to/2020</a>
    </div>
</body>
</html>