<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создание заказа</title>
</head>
<body>

<main>

    <h1>Создание заказа</h1>
    <h4>Введите данные</h4>
    <form action="/orders" method="POST">
        <div>Name:
            <input type="text" name="name">
        </div>
        <p></p>
        <div>Description:
            <input type="text" name="description">
        </div>
        <p></p>
        <div>Start Date:
            <input type="date" name="start_date">
        </div>
        <p></p>
        <div>End Date:
            <input type="date" name="end_date">
        </div>
        <p></p>
        <div>Address:
            <input type="text" name="address">
        </div>
        <p></p>
        <div>Price:
            <input type="number" name="price">
        </div>
        <p></p>
        <div>Customer ID:
            <input type="number" name="customer_id">
        </div>
        <p></p>
        <div>Executor ID:
            <input type="number" name="executor_id">
        </div>
        <p></p>
        <div>
            <input type="submit" value="Добавить" class="button">
        </div>
    </form>

</main>
</body>
</html>
